<p-card header="System Configuration" >
  <form [formGroup]="configForm" (ngSubmit)="saveConfiguration()">
    <div class="grid">
      <div class="col-12 field h-6rem">
        <label for="totalSystemTickets" class="font-bold">Total Tickets</label>
        <input pInputText id="totalSystemTickets" type="number"
               formControlName="totalSystemTickets" class="w-full"/>
        <small class="text-muted">The total number of tickets available</small>
      </div>

      <div class="col-12 field h-6rem">
        <label for="ticketReleaseRate" class="font-bold">Ticket Release Rate</label>
        <input pInputText id="ticketReleaseRate" type="number"
               formControlName="ticketReleaseRate" class="w-full"/>
        <small class="text-muted">Number of tickets each vendor releases per transaction</small>
      </div>

      <div class="col-12 field h-6rem">
        <label for="customerRetrievalRate" class="font-bold">Customer Retrieval Rate</label>
        <input pInputText id="customerRetrievalRate" type="number"
               formControlName="customerRetrievalRate" class="w-full"/>
        <small class="text-muted">Number of tickets each customer purchases per transaction</small>
      </div>

      <div class="col-12 field h-6rem">
        <label for="maxCapacity" class="font-bold">Max Capacity</label>
        <input pInputText id="maxCapacity" type="number"
               formControlName="maxCapacity" class="w-full"/>
        <small class="text-muted">Maximum number of tickets that can be in the pool</small>
      </div>

      <div class="flex button-container gap-3">
        <div class="col-7">
          <p-button label="Save Configuration" type="submit"
                    [disabled]="!configForm.valid" styleClass="w-full"></p-button>
        </div>
        <div class="col-7">
          <p-button label="Load Configuration" type="button" styleClass="p-button-secondary w-full"></p-button>
        </div>
      </div>
    </div>
  </form>
</p-card>
