<div class="layout-topbar" style="
    justify-content: space-between;
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;">
  <div class="layout-topbar-left" style="display: inline-flex">
    <i class="pi pi-ticket" style="font-size: 2rem; padding: 2rem"></i>
    <h1>Event Ticketing System</h1>
    <p-toast position="bottom-right"></p-toast>
  </div>
  <div class="layout-topbar-right" style="display: flex; align-items: center; gap: 2rem; padding-right: 6rem">
    <p-chip>
      ● {{ systemStatus }}
    </p-chip>

    <!-- Start Button -->
    <button *ngIf="systemStatus === 'Stopped'" class="p-button p-component "  (click)="startSystem()">
      Start
    </button>

    <!-- Pause and Stop Buttons -->
    <ng-container *ngIf="systemStatus === 'Running'">
      <button class="p-button p-component p-button-warning" (click)="pauseSystem()">
        Pause
      </button>
      <button class="p-button p-component p-button-danger" (click)="stopSystem()">
        Stop
      </button>
    </ng-container>

    <!-- Resume Button -->
    <button *ngIf="systemStatus === 'Paused'" class="p-button p-component p-button-secondary" (click)="resumeSystem()">
      Resume
    </button>
  </div>
</div>
