<div class="layout-topbar" style="
    justify-content: space-between;
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;">
  <div class="layout-topbar-left" style="display: inline-flex">
    <i class="pi pi-ticket" style="font-size: 2rem; padding: 2rem"></i>
    <h1>Event Ticketing System</h1>
    <p-toast position="bottom-right"></p-toast>
  </div>
  <div class="layout-topbar-right" style="display: flex; align-items: center; gap: 2rem; padding-right: 6rem">
    <p-tag [severity]="getSeverity(systemStatus)" value="● {{ systemStatus.toUpperCase() }}" pTooltip="Status" tooltipPosition="bottom">
    </p-tag>

    <!-- Start Button -->
    <p-button *ngIf="systemStatus === 'Stopped'" (click)="startSystem()">
      Start
    </p-button>

    <!-- Pause and Stop Buttons -->
    <ng-container *ngIf="systemStatus === 'Running'">
      <p-button styleClass="p-button-warning" (click)="pauseSystem()">
        Pause
      </p-button>
      <p-button styleClass="p-button-danger" (click)="stopSystem()">
        Stop/Reset
      </p-button>
    </ng-container>

    <!-- Resume Button -->
    <p-button *ngIf="systemStatus === 'Paused'" styleClass="p-button-secondary" (click)="resumeSystem()">
      Resume
    </p-button>
  </div>
</div>
